* {
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #983523,
    #87294c,
    #5c3362,
    #2b375c,
    #113344
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.createPost {
  width: 45%;
}
.allPosts {
  width: 50%;
}
.flexRow {
  display: flex;
}
h1,
h2 {
  text-align: center;
  color: white;
}
.createForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
  justify-content: space-between;
  height: 30vh;
}
.createForm > input,
.createForm > textarea,
.updateForm > input,
.updateForm > textarea {
  width: 100%;
  border-radius: 10px;
  min-height: 20px;
  text-align: center;
}
button {
  background-color: #2b375c;
  color: white;
  border-radius: 10px;
  padding: 3% 10%;
}
.postBut {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
.post {
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
}
.post > h2,
.post > p {
  padding: 0 5%;
}
.post > button {
  padding: 2% 5%;

  position: relative;
  left: 55%;
  bottom: 2%;
  margin: 2% 2%;
}
.updatePost {
  width: 100%;
}
.updateForm {
  display: block;
  width: 80%;
  margin: 3% auto;
}
